.chat_wrapper{
	display: none;
}
.chat-header{
		color: #fff;
		cursor: pointer;
		display: flex;
		justify-content: space-between ;
	}
#iniciar{
		display: flex;
		align-self: flex-end;
		position: fixed;
		right: 0;
		top: 90%;
		background-color: red;
		padding: 10px;
		cursor:pointer;
	}
.wrap-chats{
  display: flex;
  padding: 5px;
}

.wrap-chats .item{
  margin: 5px;
  width: 200px;
  height: 30px;
  background-color: red;
  text-align: center;
  cursor: pointer;
}
.wrap-chats .item span{
  font-size: 20px;
}
.panel{
margin-right: 3px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
	margin-right: 30%;
	margin-left: 30%;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
	width:30%;
    height:40px;
	margin-top: 5px;

}

.chat_wrapper {
	width: 20%;
	height:400px;
	position: fixed;
  left: 78%;
  top: 36.2vh;
	background: #101113;
	border: 1px solid #999999;
	padding: 10px;
	font: 14px 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.chat_wrapper .message_box {
	background: #F7F7F7;
	height:230px;
		overflow: auto;
	padding: 10px 10px 20px 10px;
	border: 1px solid #999999;
}

.system_msg{color: #BDBDBD;font-style: italic;}
.user_name{font-weight:bold;}
.user_message{color: #88B6E0;}
#finalizarChat{display: none}
/* como lo ve un admin */
.admin_user_message{
	background-color: blue;
	border-radius: 5px;
	margin:5px;
}
.admin_admin_message{
	/* background-color: purple; */
	border-radius: 5px;
	margin:5px;
}
/* como lo ve un usuario */
.user_user_message{}
.user_admin_message{}
