/*views quotation*/

.container--quotation{
  display: flex;
  width: 100%;
  height: 100vh;
  background: url("../image/cotizacionfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quotation--left, .quotation--rigth{
  width: 50%;
  height: 100vh;
  display: flex;
}
.quotation--left{
  flex-direction: column;
  font-family: 'lato';
}
.quotation--left .quotation--form{
  margin: 0 auto;
  color: #9e9e9e;
  width: 60%;

}
.quotation--left span {
  margin: 20px;
  color: white;
  font-size: 25px;
}
.subtitle.quo{
  font-size: 20px;
  margin-bottom: 40px;
}
.form-groupuser.btn input{
  background: transparent;
  border: 1px solid #f8f400;
  outline: none;
  padding: 15px 30px;
  color: white;
  font-size: 18px;
  transition: all .3s ease;
}
.form-groupuser.btn input:hover{
  background: #f8f400;
  color: black;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.8);
}
.quotation--rigth{
  background: rgba(248, 244, 0, .3);
  /*mix-blend-mode: multiply;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title--quo{
  font-family: 'oswald';
  font-size: 100px;
  font-weight: 300;
  margin-top: 30px;
  color:white;
  text-transform: uppercase;
}

/*views product*/

.products{
  width: 100%;
  height: 200px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.products .item{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.item.toner img, .item.impresora img, .item.computadores img{
  width: 180px;
}
.item.cartucho img{
  width: 120px;
  transition: all .5s ease;
}

.item.cartucho h3, .item.toner h3, .item.impresora h3, .item.computadores h3{
  font-family: 'lato';
  text-transform: capitalize;
  color: #9e9e9e;
  position: absolute;
  bottom: 10px;

}
.menuProduct{
  position: absolute;
  padding: 10px;
  font-size: 25px;
}

.container--marcas{
  width: 100%;
  height: 50px;
  background: #e345e3;
}



/*views orders*/
.order--fondo{
  background: #35a4dd url(../image/pedido.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -9999;
  position: absolute;
  width: 100%;
  height: 100vh;
}
#order--formone{
  width: 50%;
  height: 100%;
  position: absolute;
  transition: all .1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#order--formtwo{
  opacity: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all .1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#order--container{
  width: 50%;
  height: 100%;
  max-height: 100%;
  margin-left: 50%;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.order--contenido{
  width: 200%;
  position: relative;
  height: 100%;
  left: 0;
  left: -100%;
}
.order--left, .order--rigth{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'oswald'
}
.order--left{
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: rgba(53, 164, 221, .5)
}
.order--rigth{
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  background: rgba(255, 0, 255, 0.3);
}
.right--superior h1 ,.order--left h1{
  color: white;
  font-size: 100px;
  font-weight: 300;
  padding: 30px;
  text-transform: uppercase;
  text-align: center;

}
.container--form{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderSuperior, #order--formtwo .orderSuperior{
  margin-bottom: 30px;
  font-family: 'lato';
}
.orderSuperior h1{
  font-size: 45px;
  color: rgb(255,0,255);
  font-weight: 300;
  text-transform: uppercase;
}
#order--formtwo .orderSuperior h1{
  font-size: 45px;
  color: #35a4dd;
  font-weight: 300;
  text-transform: uppercase;
}
.orderSuperior p, #order--formtwo .orderSuperior p{
  font-size: 20px;
  color: #e9e9e9;
  text-align: center;
}
#order--formtwo .orderSuperior h2{
  text-align: center;
  margin-top: 20px;
  color:white;
}
#otraDir{
  display: none;
}
.menuorder{
  padding: 20px;
  z-index: 9999;
  font-size: 25px;
  color: white;
  position: absolute;
}

/*inputs*/
.form-groupuser, .form-groupuser2, .form-groupuser3{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  font-family: 'lato';
}


.form-groupuser .labeluser, .labeluser2, .labeluser3 {
  transition: all 0.5s;
  transform: translateY(12px);
  position: absolute;
  padding: 0 0 0 5px;
  color: #e9e9e9;

}
.labelselect3{
  transition: all 0.5s;
  padding: 0 0 0 5px;
  color: #e9e9e9;
}
.form-groupuser .inputuser {
  padding:8px 2px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #9e9e9e;
  position: relative;
  font-size: 16px;
  background: transparent;
  color:white;
}
.selectuser3{
  padding:8px 2px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #9e9e9e;
  position: relative;
  font-size: 16px;
  background: transparent;
  color:white;
}
.inputuser2 {
  padding:8px 2px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #9e9e9e;
  position: relative;
  font-size: 16px;
  background: transparent;
}
.inputuser3{
  padding:8px 2px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #9e9e9e;
  position: relative;
  font-size: 16px;
  background: transparent;
  color:white;
}
 .inputuser:after, .inputuser:before,.inputuser2:after, .inputuser2:before , .inputuser3:after, .inputuser3:before,.selectuser3:after, .selectuser3:before {
   content: "";
   background: #9e9e9e;
   box-sizing: border-box;
   border: 1px solid #9e9e9e;
   transition: all 0.5s;
}

.color-labeluser .inputuser {
  border: 1px solid #f8f400;
}
.color-labeluser2 .inputuser2{
    border: 1px solid #35a4dd;
}
.color-labeluser3 .inputuser3,.color-labeluser3 .selectuser3{
    border: 1px solid rgb(255,0,255);
}
.color-labeluser .labeluser{
  color: #f8f400;
}
.color-labeluser2 .labeluser2{
  color: #35a4dd;
}
.color-labeluser3 .labeluser3, .color-labeluser3 .labelselect3{
  color: rgb(255, 0, 255);
}
.mover-labeluser .labeluser, .mover-labeluser2 .labeluser2, .mover-labeluser3 .labeluser3{
  transform: translateY(-15px);
  font-size: 12px;
}
/*modal*/
.modal{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.modal--container{
  background: white;
  width: 70%;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
}
.modal--container .detalle{
  width: 60%;
  padding: 20px;
  max-height: 500px;
}
.modal--container .quotation--form{
  width: 40%;
}
.modal--container .quotation--form form{
  width: 80%;
  padding: 30px 30px 30px 0;
  font-family: 'lato';

}
.modal--container .quotation--form h2{
  margin-bottom: 20px;
  font-family: 'lato';
  color: #9e9e9e;
  text-transform: uppercase;
}
.modal--container .quotation--form span{
  float: right;
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
}
.form-groupuserbtn input {
  border: none;
  padding: 15px 20px;
  outline: none;
  border: 1px solid #35a4dd;
  background: transparent;
  font-size: 16px;
  transition: all .4s ease;
  color: black;
}
.form-groupuserbtn input:hover{
  background: #35a4dd;
  color: white;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.form-groupuserbtn{
  display: flex;
  justify-content: space-between;
}
