/*views quotation*/

.container--quotation{
  display: flex;
  width: 100%;
  height: 100vh;
  background: url("../image/cotizacionfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quotation--left, .quotation--rigth{
  width: 50%;
  height: 100vh;
  display: flex;
}
.quotation--left{
  flex-direction: column;
  font-family: 'lato';
}
.quotation--left .quotation--form{
  margin: 0 auto;
  color: #9e9e9e;
  width: 60%;

}
.quotation--left span {
  margin: 20px;
  color: white;
  font-size: 25px;
}
.subtitle.quo{
  font-size: 20px;
  margin-bottom: 40px;
}
.form-groupuser.btn input{
  background: transparent;
  border: 1px solid #f8f400;
  outline: none;
  padding: 15px 30px;
  color: white;
  font-size: 18px;
  transition: all .3s ease;
}
.form-groupuser.btn input:hover{
  background: #f8f400;
  color: black;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.8);
}
.quotation--rigth{
  background: rgba(248, 244, 0, .3);
  /*mix-blend-mode: multiply;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title--quo{
  font-family: 'oswald';
  font-size: 100px;
  font-weight: 300;
  margin-top: 30px;
  color:white;
  text-transform: uppercase;
}

/*views product*/
.container--products{
  display: flex;
  background: red;
}
.container--products span{
  margin: 20px;
  font-size: 25px;
}
.products{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.toner img{
  width: 150px;
  height: 100px;
  margin-top: 12px;
}
.toner img:hover{
  width: 180px;
  height: 130px;
  transition: all .2s ease-in;
}
.cartucho img, .impresora img, .computadores img{
  width: 150px;
  height: 120px;
}



/*views orders*/
.order--fondo{
  position: absolute;
  z-index: -9999px;
  width: 100%;
  height: 100%;
  background: red;
  background-size: cover;
  background-repeat: no-repeat;
}

/*inputs*/
.form-groupuser, .form-groupuser2{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}


.form-groupuser .labeluser, .labeluser2 {
  transition: all 0.5s;
  transform: translateY(12px);
  position: absolute;
  padding: 0 0 0 5px;

}
.form-groupuser .inputuser, .inputuser2  {
  padding:8px 2px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #9e9e9e;
  position: relative;
  font-size: 16px;
  background: transparent;
  color:white;
}
 .inputuser:after, .inputuser:before,.inputuser2:after, .inputuser2:before {
   content: "";
   background: #9e9e9e;
   box-sizing: border-box;
   border: 1px solid #9e9e9e;
   transition: all 0.5s;
}

.color-labeluser .inputuser {
  border: 1px solid #f8f400;
}
.color-labeluser2 .inputuser2{
    border: 1px solid #35a4dd;
}
.color-labeluser .labeluser{
  color: #f8f400;
}
.color-labeluser2 .labeluser2{
  color: #35a4dd;
}
.mover-labeluser .labeluser, .mover-labeluser2 .labeluser2{
  transform: translateY(-15px);
  font-size: 12px;
}
/*modal*/
.modal{
  /*display: none;*/
  position: absolute;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.modal--container{
  background: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
}
.modal--container .detalle{
  width: 60%;
  padding: 20px;
}
.modal--container .quotation--form{
  width: 40%;
}
.modal--container .quotation--form form{
  width: 80%;
  padding: 30px 30px 30px 0;
  font-family: 'lato';

}
.modal--container .quotation--form h2{
  margin-bottom: 20px;
  font-family: 'lato';
  color: #9e9e9e;
  text-transform: uppercase;
}
.modal--container .quotation--form span{
  float: right;
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
}
.form-groupuserbtn input {
  border: none;
  padding: 15px 20px;
  outline: none;
  border: 1px solid #35a4dd;
  background: transparent;
  font-size: 16px;
  transition: all .4s ease;
}
.form-groupuserbtn input:hover{
  background: #35a4dd;
  color: white;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.form-groupuserbtn{
  display: flex;
  justify-content: space-between;
}
