@import "reset.css";

/*landing */

.container{
  width: 100%;
  height: 100vh;
  display: flex;
}

.container.one{
  background: url("../image/fondo.jpg");
}


.container .left{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(250,250,250, 0.2);
}
.container .left img{
  width: 50%;
  margin: 0 auto;
  margin-top: 130px;
}
.container .left span{
  margin: 20px;
  color: white;
  font-size: 25px;
}
.container .rigth{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}
.container .rigth ul{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top:20px;
  font-family: 'lato';
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
}

.container .rigth ul li a{
  padding: 20px;
}
.container .rigth ul li a:hover{
  background: rgba(255,255,255, 0.3);
}
.container .rigth .welcome{
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 200px;
  color: white;
}
.container .rigth .welcome .title{
  font-family: 'oswald';
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.container .rigth .welcome .subtitle{
  font-family: 'lato';
  font-size: 18px;

}

#modal--session{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  margin:0 auto;
}
#modal--session .content--session {
  width: 30%;
  height: 70%;
  background: white;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 1);
}
#modal--session .content--session .close--modal #close{
    color: black;
    float: right;
    font-size: 30px;
    cursor: pointer;
    padding-right: 10px;
}
#modal--session .content--session .session--start{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modal--session .content--session .img--modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal--session .content--session img{
  width: 100px;
  margin-left: 30px;
  margin-top: 20px;

}
#modal--session .content--session .session--start h1{
    text-transform: uppercase;
    font-family: 'lato';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .2em;
    color: #9e9e9e;
    margin-top: 20px;
    margin-bottom: 20px;

}
#modal--session .content--session .session--start form{
    width: 70%;
}
#modal--session .content--session .session--start .wrap--login{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
#modal--session .content--session .session--start .wrap--login input[type="text"], [type="password"]{
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #9e9e9e;
    transition: all .3s ease;
}

#modal--session .content--session .session--start label.label{
    font-family: 'lato';
    font-size: 16px;
    padding-top: 10px;
    color: #9e9e9e;
}



.container.two{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container.two .section--one{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.two .section--one p{
  font-family: 'oswald';
  font-size: 60px;
  text-transform: uppercase;
  color: #9e9e9e;
}
.container.two .section--two{
  width: 100%;
  height: 80vh;
  display: flex;
}
.container.two .section--two .section-left{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container.two .section--two .section-left h1, .section-rigth h1{
  font-family: 'lato';
  text-transform: uppercase;
  text-align: center;
  color: #9e9e9e;

}
.container.two .section--two .section-left p, .section-rigth p{
  padding: 50px;
  font-family: 'lato';

}
.container.two .section--two .section-rigth{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
}

.container.three{
  background: url("../image/fondo3.jpg");
  display: flex;
}
.container.three .three--left{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container.three .three--left h1{
  color: #f8f400;
  width: 80%;
  font-family: 'lato';
  font-weight: bold;
  font-size: 50px;
  margin-top: 100px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;

}
.container.three .three--left p{
  width: 80%;
  color: #7b7c7c;
  font-family: 'lato';
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
}
.container.three .three--rigth{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.three .three--rigth .services{
  width: 80%;
  height: 80vh;
  background: white;
}

.container.four{
  display: flex;
}
.container.four .four--contact{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;

}
.container.four .four--contact h1{
  height: 50vh;
  font-family: 'oswald';
  font-size: 60px;
  font-weight: bold;
  color: #9e9e9e;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.container.four .four--contact .contact--data{
  height: 50vh;
  display: flex;
  flex-direction: column;


}
.container.four .four--contact p{
  font-family: 'lato';
  font-size: 18px;
  font-weight: 400;
  color: #9e9e9e;
  text-align: center;
}
.container.four .four--form{
  width: 50%;
}
.container.four .four--form form{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 70%;
  justify-content: center;

}
.container.four .four--form form .label{
  color: #9e9e9e;
  font-family: 'lato';
  font-size: 18px;
  padding-top: 10px;
}
.container.four .four--form form input{
  border: none;
  outline: none;
  border-bottom: 1px solid #9e9e9e;
  font-size: 18px;
  color: #9e9e9e;
  font-family: 'lato';
  margin-bottom: 20px;

}
