@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:200,400,700');

/*landing */

.container{
  width: 100%;
  height: 100vh;
  display: flex;
}

.container.one{
  background: url("../image/fondo.jpg");
}


.container .left{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(250,250,250, 0.2);
}
.container .left img{
  width: 50%;
  margin: 0 auto;
  margin-top: 130px;
}
.container .left span{
  margin: 20px;
  color: white;
  font-size: 25px;
}
.container .rigth{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}
.container .rigth ul{
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'lato';
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
}

.container .rigth ul li a, #opc--user{
  cursor: pointer;
  display: flex;
  padding: 20px;
}

#user--dropdown{
  min-width: 120px;
  max-width: 120px;
  background: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 17px;
  margin-top: 50px;
  display: none;
}
#user--dropdown a{
  font-family: 'lato';
  padding: 15px 16px;
  text-transform: capitalize;


}
.container .rigth ul li a:hover{
  background: rgba(255,255,255, 0.3);

}
.container .rigth .welcome{
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 200px;
  color: white;
}
.container .rigth .welcome .title{
  font-family: 'oswald';
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.container .rigth .welcome .subtitle{
  font-family: 'lato';
  font-size: 18px;

}

#modal--session{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  margin:0 auto;
}
#modal--session .content--session {
  width: 30%;
  height: 500px;
  background: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 1);
}
#modal--session .content--session .close--modal #close{
    color: black;
    float: right;
    font-size: 30px;
    cursor: pointer;
    padding-right: 10px;
}
#modal--session .content--session .session--start{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .content--session .img--modal, .signin--left .img--modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
 .content--session img, .signin--left img{
  width: 100px;
  margin-left: 30px;
  margin-top: 20px;

}
#modal--session .content--session .session--start h1{
    text-transform: uppercase;
    font-family: 'lato';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .2em;
    color: #9e9e9e;
    margin-top: 20px;
    margin-bottom: 5px;

}


#form--login{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'lato';
}
.input--login{
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
  width: 100%;

}
.label-login{
  font-size: 16px;
  color: #9e9e9e;
  transition: all 0.5s;
  transform: translateY(25px);
}

.wrap--login{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0 0 0 ;
  position: relative;
  margin-bottom: 5px;
}

.wrap--login:after, .wrap--login:before{
  content: "";
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 1px;
  background: #9e9e9e;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.wrap--login::after{
  background-color:#35a4dd;
  transform: scaleX(0);
}
.clr-label-login::after{
  transform: scaleX(1);
}
.clr-label-login .label-login{
  color: #35a4dd;
}
.mov-label-login .label-login{
font-size: 12px;
transform: translateY(0);
}

.parsley-errors-list .filled li{
    background: red;
}
.form--out{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'lato'
}
#btn--login{
  border: none;
  padding: 15px 20px;
  background: #35a4dd;
  cursor: pointer;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;

}



.container.two{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container.two .section--one{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.two .section--one p{
  font-family: 'oswald';
  font-size: 60px;
  text-transform: uppercase;
  color: #9e9e9e;
}
.container.two .section--two{
  width: 100%;
  height: 80vh;
  display: flex;
}
.container.two .section--two .section-left{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container.two .section--two .section-left h1, .section-rigth h1{
  font-family: 'lato';
  text-transform: uppercase;
  text-align: center;
  color: #9e9e9e;

}
.container.two .section--two .section-left p, .section-rigth p{
  padding: 50px;
  font-family: 'lato';

}
.container.two .section--two .section-rigth{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
}

.container.three{
  background: url("../image/fondo3.jpg");
  display: flex;
}
.container.three .three--left{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container.three .three--left h1{
  color: #f8f400;
  width: 80%;
  font-family: 'lato';
  font-weight: bold;
  font-size: 50px;
  margin-top: 100px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;

}
.container.three .three--left p{
  width: 80%;
  color: #7b7c7c;
  font-family: 'lato';
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
}
.container.three .three--rigth{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.three .three--rigth .services{
  width: 80%;
  height: 80vh;
  background: white;
}

.container.four{
  display: flex;
}
.container.four .four--contact{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;

}
.container.four .four--contact h1{
  height: 50vh;
  font-family: 'oswald';
  font-size: 60px;
  font-weight: bold;
  color: #9e9e9e;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index: 2;
}


.container.four .four--contact .contact--data{
  height: 50vh;
  display: flex;
  flex-direction: column;


}
.container.four .four--contact p{
  font-family: 'lato';
  font-size: 18px;
  font-weight: 400;
  color: #9e9e9e;
  text-align: center;
}
.container.four .four--form{
  width: 50%;
}
.container.four .four--form form{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 70%;
  justify-content:center;
  align-items: flex-start;
  font-family: 'lato';

}
.container.four .four--form .wrap--contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0 0 0 ;
    position: relative;
}
 .wrap--contact:after, .wrap--contact:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #9e9e9e;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}
.label-contact{
 font-size: 16px;
 color: #9e9e9e;
 transition: all 0.5s;
 transform: translateY(25px);
}
.input-contact{
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
}
.wrap--contact::after{
  background-color: rgb(255,0,255);
  transform: scaleX(0);
}
.color-::after{
  transform: scaleX(1);
}

.color-label .label-contact{
    color:	rgb(255,0,255);
}

.mover-label .label-contact{
    font-size: 12px;
    transform: translateY(0);
}


/*MENU HAMBURGUESA*/
.wrap--menu{
  display: flex;
  z-index: 5;
  position: fixed;
  width: 100%;
  /*transition: 0.4s ease*/
  /*overflow-y: hidden;*/

}

.menu--home{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100vh;
  color: white;
  background: rgb(0, 255, 255);
}

.menu--order{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100vh;
  color: white;
  background: rgb(255, 0, 255);
}

.menu--product{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100vh;
  color: white;
  background: rgb(128, 128, 128);
}

.menu--quotation{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100vh;
  color: white;
  background: rgb(255, 255, 0);
}

.menu--title{
  position: absolute;
  font-family: 'lato';
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 30px;
}
.menu--home:hover,.menu--order:hover,.menu--product:hover,.menu--quotation:hover{
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  width: 27.5%;
  background: none;
  color: black;
  font-size: 20px;
}

.menu--home,.menu--order,.menu--product,.menu--quotation{
  transform: scale(2);
  -moz-transform : scale(2);
  -webkit-transform : scale(2);
  -o-transform : scale(2);
}
.menu--home img,.menu--order img,.menu--product img,.menu--quotation img{
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.wrap--menu,.menu--home,.menu--order,.menu--quotation,.menu--product{
  transform: translateX(-9999px);
}

.menu--product span#close-menu{
  position: relative;
  color: white;
  font-size: 50px;
  z-index: 999;
  bottom: 5.9em;
  left: 2.7em;
  cursor: pointer;
  box-sizing: border-box;
}

.product-animation, .quotation-animation, .order-animation, .home-animation{
  animation-duration: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.product-animation{
  animation-name: product
}

@keyframes product{
  0%{ transform: translateX(-9999px);}
  25%{ transform: translateX(0); }
}

.quotation-animation{
  animation-name: quotation
}

@keyframes quotation{
  0%{ transform: translateX(-9999px);}
  50%{ transform: translateX(0); }
}

.order-animation{
  animation-name: order
}

@keyframes order{
  0%{ transform: translateX(-9999px);}
  75%{ transform: translateX(0); }
}

.home-animation{
  animation-name: home
}

@keyframes home{
  0%{ transform: translateX(-9999px);}
  100%{ transform: translateX(0); }
}

/*VIEW ORDERS*/
.main--container{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url("../image/pedido.jpg");
}

.left--part{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(1,86,123,0.9);
}

.main--container .left--part img{
  width: 50%;
  margin: 0 auto;
  margin-top: 130px;
}
.main--container .left--part span{
  margin: 20px;
  color: white;
  font-size: 25px;
}

.rigth--part{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}

.square{
  display: flex;
  width: 50%;
  height: 50%;
  border: 9px solid #02a7e9;
  color: #02a7e9;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'lato';
  font-size: 50px;
  font-weight: bold;
  margin: 60px;
  right: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 70px;
}

.container--title{
  width: 50%;
  display: flex;
  position: relative;
  bottom: -50px;
}

.container-title-order{
  /*position: relative;*/
  display: flex;
  font-family: 'lato';
  font-size: 60px;
  /*color: #4c5154; gris mas claro*/
  color: #404348;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-left: 165px;
  justify-content: flex-end;
}

.title--right{
  display: flex;
  position: fixed;
  font-family: 'lato';
  color: #02a7e9;
  font-size: 60px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
}

.wrap--product{
  font-family: 'lato';
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  top: 150px;
}

.name--product{
position: relative;
background: transparent;
border: none;
outline: none;
padding: 8px 0;
font-size: 16px;
/*width: 100%;*/
}
.arrow select{
  border: 1px solid #ccc;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/*select .select--product{
  width: 15px;
  height: 15px;
  outline-color: pink;
}*/

input .reference{
  outline: none;
  background: none;
}
