@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:200,400,700');

/*landing */

.container.one, .container.two,{
  width: 100%;
  height: 100vh;
}

.container.one{
  display: flex;
  background: url("../image/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container .left{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(250,250,250, 0.2);
}
.container .left img{
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 130px;
}
.container .left span{
  margin: 20px;
  color: white;
  font-size: 25px;
}
.container .rigth{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}
.container .rigth ul{
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'lato';
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
}

.container .rigth ul li a, #opc--user{
  cursor: pointer;
  display: flex;
  padding: 20px;
}

#user--dropdown{
  min-width: 120px;
  max-width: 120px;
  background: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 17px;
  margin-top: 50px;
  display: none;
}
#user--dropdown a{
  font-family: 'lato';
  padding: 15px 16px;
  text-transform: capitalize;


}
.container .rigth ul li a:hover{
  background: rgba(255,255,255, 0.3);

}
.container .rigth .welcome{
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 150px;
  color: white;
}
.container .rigth .welcome .title{
  font-family: 'oswald';
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.container .rigth .welcome .subtitle{
  font-family: 'lato';
  font-weight: 300;
  line-height: 22px;
  font-size: 18px;
}
.container .rigth .welcome .subtitle-contc{
  font-family: 'lato';
  font-weight: 300;
  font-size: 25px;
  padding-top: 20px;
  text-align: right;
}
.container .rigth .welcome .subtitle-contc i{
  color: #35a4dd;
  margin-right: 15px;
}

#modal--session{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  margin:0 auto;
}
#modal--session .content--session {
  width: 90%;
  height: 500px;
  background: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 1);
  max-width: 400px;
}
#modal--session .content--session .close--modal #close{
    color: black;
    float: right;
    font-size: 30px;
    cursor: pointer;
    padding-right: 10px;
}
#modal--session .content--session .session--start{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .content--session .img--modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
 .content--session img, .signin--left img{
  width: 100px;
  margin-left: 30px;
  margin-top: 30px;

}
#modal--session .content--session .session--start h1{
    text-transform: uppercase;
    font-family: 'lato';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .2em;
    color: #9e9e9e;
    margin-top: 20px;
    margin-bottom: 10px;

}


#form--login{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'lato';
  margin-top: 10px;

}
.input--login{
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
  width: 100%;

}
 .input{
   position: relative;
   background: transparent;
   border: none;
   outline: none;
   padding: 8px 0;
   font-size: 16px;
   width: 100%;
   color: #9e9e9e;
 }
.label-login, .label{
  font-size: 16px;
  color: #9e9e9e;
  transition: all 0.5s;
  transform: translateY(16px);
  position: absolute;
}
.select{
  color: #9e9e9e;
}

.wrap--login, .form-group{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0 0 0 ;
  position: relative;
  margin-bottom: 5px;
}

.wrap--login:after, .wrap--login:before{
  content: "";
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 1px;
  background: #9e9e9e;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.form-group:after, .form-group:before{
  content: "";
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 1px;
  background: #9e9e9e;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.wrap--login::after, .form-group::after{
  background-color:#35a4dd;
  transform: scaleX(0);
}
.clr-label-login::after ,.clr-label::after{
  transform: scaleX(1);
}
.clr-label-login .label-login, .clr-label .label{
  color: #35a4dd;
}
.mov-label-login .label-login, .mov-label .label{
font-size: 12px;
transform: translateY(-5px);
}

.parsley-errors-list .filled li{
    background: red;
}
.form--out{
  margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content:center;
    font-size: 14px;
    font-family: 'lato'
}
#btn--login{
  border: none;
  padding: 15px 20px;
  background: #35a4dd;
  cursor: pointer;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;

}



.container.two{
  display: flex;
  flex-direction: column;
}
.container.two .section--one{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  margin-top: 10px;
  text-transform: uppercase;
  color: #9e9e9e;
}
.container.two .section--one p{
  font-size: 60px;
  font-weight: 300;
  font-family: 'oswald';
  padding-left: 30px;
}
.container.two .section--two{
  width: 100%;
  height: 80vh;
  display: flex;
}
.container.two .section--two .section-left{
  padding: 30px;
  display: flex;
  flex-direction: column;

}
.container.two .section--two .section-left h1, .section-rigth h1{
  font-family: 'oswald';
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: #689198;
  padding: 0px 0px 10px 30px
}
.container.two .section--two .section-left p, .section-rigth p{
  padding: 0px 30px 50px 30px;
  font-family: 'lato';
  font-weight: 300;
  line-height: 22px;
  font-size: 18px;
}
.container.two .section--two .section-rigth{
  padding: 30px;
  display: flex;
  flex-direction: column;

}
.two--image{
  display: flex;
  justify-content: center;
  align-items: center;
}
#iconPc{
  padding: 0 0 0 30px;
  width: 300px;
}
#iconPrinter{
  width: 300px;
}
.container.three{
  background: url("../image/fondo3.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
}
.container.three .three--left{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
}
.container.three .three--left h1{
  color: #f8f400;
  width: 100%;
  font-family: 'oswald';
  font-weight: 300;
  font-size: 45px;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 30px 0 0 30px;
  margin-bottom:20px;
}
.container.three .three--left p{
  width: 100%;
  color: #9e9e9e;
  font-family: 'lato';
  font-weight: 400;
  font-size: 18px;
  padding: 40px 0 0 50px;

}
.container.three .three--left p i{
  color: #f8f400;
  padding-right: 10px;
}
.container.three .three--left button{
  padding: 20px 50px;
  background: #f8f400;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 50px;
}
.container.three .three--rigth{
  width: 60%;
  margin-top: -33px;
  background: url("../image/flat/fondo_servicios.png");
  background-repeat: no-repeat;
  background-size: 750px;
  display:flex;
  justify-content: center;
}

#services-domicilio{
  width: 110px;
  height: 142px;
  margin-top: 120px;

}
 #services-servicio{
  width: 158px;
  height: 260px;
  margin: 200px 60px 0 60px;

}
 #services-asistencia{
   width: 122px;
   height: 139px;
   margin-top:120px;
 }
.container.mediafour{
  width: 100%;
  height: 70vh;
  display: flex;

}

.container.mediafour h1{
  padding: 30px;
  font-size:50px;
  font-family: 'oswald';
  text-transform: capitalize;
  font-weight: 300;
  color:#7cb12f;
}
.container.mediafour ul{
  padding: 40px 0 0 30px;
}
.container.mediafour li{
  font-size: 20px;
  font-family: 'lato';
  color: #9e9e9e;
  margin-bottom: 20px;
}
.container.mediafour li i{
  color: #7cb12f;
  margin-right: 5px;
}

.container.mediafour img{
  width: 30%;
  position: absolute;
  right: 0;
  padding-top: 60px;
}

.container.four{
  display: flex;
  width: 100%;
  height: 70vh;
  background: url("../image/maps.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container.four .four--contact{
  width: 40%;
}
.container.four .four--contact h1{
  padding:60px 0 0 0;
  font-size:50px;
  font-family: 'oswald';
  text-transform: capitalize;
  font-weight: 300;
  color:#9e9e9e;
}
.container.four .four--contact ul{
  padding: 40px 0 0 0;
}
.container.four .four--contact li{
  font-family: 'lato';
  margin-bottom: 20px;
  font-size: 20px;
  color: #9e9e9e;
}
.container.four .four--contact li i{
  margin-right: 5px;
}
.container.four .four--form{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container.four .four--form form, textarea{
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content:center;
  align-items: flex-start;
  font-family: 'lato';
}
.container.four .btn--contact{
  padding: 15px 30px;
  border: 1px solid #9e9e9e;
  background: transparent;
  margin-top: 50px;
  width:40%;
  font-weight: bold;
  transition: 0.5s ease;
  cursor: pointer;
  color: #9e9e9e;
}
.container.four .btn--contact:hover{
  width: 100%;
  background: rgb(255,0,255);
  color: white;
}
.container.four .four--form .wrap--contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0 0 0 ;
    position: relative;
}
 .wrap--contact:after, .wrap--contact:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #9e9e9e;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}
.label-contact{
 font-size: 16px;
 color: #9e9e9e;
 transition: all 0.5s;
 transform: translateY(16px);
 position: absolute;
}
.input-contact{
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
    color: white;

}
.wrap--contact::after{
  background-color: rgb(255,0,255);
  transform: scaleX(0);
}
.color-label::after{
  transform: scaleX(1);
}

.color-label .label-contact{
    color:	rgb(255,0,255);
}

.mover-label .label-contact{
    font-size: 12px;
    transform: translateY(-5px);
}


/*MENU HAMBURGUESA*/
.wrap--menu{
  display: flex;
  z-index: 5;
  position: fixed;
  width: 100%;
  /*transition: 0.4s ease*/

}
.menu--registrar{
  position: absolute;
  left: 10px;

}

.menu--home{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100vh;
  color: white;
  background: rgb(0, 255, 255);
}

.menu--order{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100vh;
  color: white;
  background: rgb(255, 0, 255);
}

.menu--product{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100vh;
  color: white;
  background: rgb(128, 128, 128);
}

.menu--quotation{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100vh;
  color: white;
  background: rgb(255, 255, 0);
}

.menu--title{
  position: absolute;
  font-family: 'lato';
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 30px;
}
.menu--home:hover,.menu--order:hover,.menu--product:hover,.menu--quotation:hover{
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  /*width: 27.5%;*/
  background: none;
  color: black;
  font-size: 40%;
  cursor: pointer;
}

.menu--home,.menu--order,.menu--product,.menu--quotation{
  transform: scale(2);
  -moz-transform : scale(2);
  -webkit-transform : scale(2);
  -o-transform : scale(2);
}
.menu--home img,.menu--order img,.menu--product img,.menu--quotation img{
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.wrap--menu,.menu--home,.menu--order,.menu--quotation,.menu--product{
  transform: translateX(-9999px);
}

.menu--product span#close-menu{
  position: relative;
  color: white;
  font-size: 50px;
  z-index: 999;
  bottom: 5.9em;
  left: 2.7em;
  cursor: pointer;
  box-sizing: border-box;
}

.product-animation, .quotation-animation, .order-animation, .home-animation{
  animation-duration: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.product-animation{
  animation-name: product
}

@keyframes product{
  0%{ transform: translateX(-9999px);}
  25%{ transform: translateX(0); }
}

.quotation-animation{
  animation-name: quotation
}

@keyframes quotation{
  0%{ transform: translateX(-9999px);}
  50%{ transform: translateX(0); }
}

.order-animation{
  animation-name: order
}

@keyframes order{
  0%{ transform: translateX(-9999px);}
  75%{ transform: translateX(0); }
}

.home-animation{
  animation-name: home
}

@keyframes home{
  0%{ transform: translateX(-9999px);}
  100%{ transform: translateX(0); }
}


/* VIEW QUOTATION AND LOGIN sin input*/

#formularios--run{
  font-family: 'lato';
  width: 50%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.contenido--run{
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}
.runform--left, .runform--rigth{
  display: flex;
  justify-content: center;
  align-items: center;
}
.runform--left{
  width: 50%;
  height: 100%;
  background: #2C3034;
  position: absolute;
  left: 0;
}
.runform--rigth{
  width: 50%;
  height: 100%;
  background: #f7f7f7;
  position: absolute;
  right: 0;
}

.runform--contenido{
  width: 80%;
}
.superior{
  margin-bottom: 30px;
}
.runform--contenido h1{
  font-weight: 300;
  color: #35a4dd;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.runform--contenido p{
  color: #757575;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 22px;
}
.fondoimagenes{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -9999;
}
.imagenes--left{position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #03A9F4 url(../image/login.jpg);
  background-size: cover;
  background-position: 50% 50%;}
.imagenes--rigth{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4 url(../image/sigin.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
.customers--business{
  width: 100%;
}
.menu--registrar{
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 999999px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  color: #9e9e9e;
}
#customers--normal--part2, #customers--normal--part3{
  display: none;
  transition: all .5s ease;
  box-sizing: border-box;
}
#customers--normal--part1{
  width: 100%;
  box-sizing: border-box;

}
 #business--parte3, #business--parte2, #business--parte4{
   display: none;
   transition: all .5s ease;
   width: 100%;
 }

#business--parte1{
  transition: all .5s ease;
  width: 100%;
}

#frmNewBusi{
  width: 100%;
  display: flex;
}
#frmNewUser button, #frmNewBusi button{
  padding: 15px 20px;
  border: none;
  background: #35a4dd;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
}

#moveright{
  margin-top: 20px;
  outline: none;
  float:right;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #35a4dd;
  cursor: pointer;

}

#moveleft{
  outline: none;
  cursor: pointer;
  margin-top: 100px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #35a4dd;

}




.triangle{
  width: 0;
  height: 0;
  border-top: solid 11em rgba(255, 255, 0,0.4);
  /*border-left: solid 3em transparent;*/
  border-right: solid 8em transparent;
  -mix-blend-mode: multiply;
  position: relative;
}

.rigth--part--quotation{
  width: 50%;
  display: flex;
  flex-direction: column;

}


/*module profile*/
.container--profile{
  background: url(../image/profilemodify.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.container--profile .title--profile{
  font-family: 'oswald';
  font-size: 40px;
  font-weight: 200;
  color:#35a4dd;
  text-transform: uppercase;
}

#menu{
  display: block;}

#wrap--menu--mobile, #menu-mobile{
  display: none;}

/*alert*/
.message-red{
  padding: 10px;
  background: #f44336;
  color: white;
}
