/*
author:
license: apache 2.0
company: maxirecargas
update: actualizaciones fecha y lo que se actualizo

CONTENT RYLES CSS

1. menu principal
2.menu superior .top--nav
3- modules-orders
*/




@import "reset.css";
@import "colors.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:200,400,700');



body{
  background: white;
}
.container{
  display: flex;
  font-family: 'lato';
}
/*1. menu principal .main--nav*/
.main--nav{
  max-width: 250px;
  min-width: 250px;
  height: 100vh;
  background: #ddd;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
  color: #3d4756;
  position: fixed;
}
.main--navdark{
  max-width: 250px;
  min-width: 250px;
  height: 100vh;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  background: #354052;
  color: #8f9aac;
}
 .userProfile--img{
  width: 80%;
  margin:20px;
}

 .userProfile--img img{
  box-sizing: border-box;

}

 .navigator {
 width: 100%;
 margin: auto;

}

 .navigator li {
  display: flex;
  flex-direction: column;
}
 .navigator li a{
  transition: all 0.3s ease;
  padding: 20px;
  text-transform: capitalize;

}
 .navigator li a:hover{
  background: white;
  padding-left: 50px;
  font-size: 20px;
  color: #35a4dd;
}
.navigatordark li a:hover{
  background: #242c38;
  padding-left: 50px;
  font-size: 20px;
  color:#8f9aac;
}

/*2.menu superior .menu--top*/

.wrap--content{
  width: 100%;
  margin-left: 250px;
}
.menu--top{
  width: 100%;
  height: 60px;
  display: flex;
  background: rgba(187,187,187,0.5);
}
.menu--toposcuro{
  width: 100%;
  height: 60px;
  display: flex;
  background: transparent;
  border:none;
  border-bottom: 3px solid #c1c1c1;
}
.menu--top .profile{
  width: 80%;
  display: flex;
  align-items: center;
}
.menu--top .profile a{
  padding-left: 20px;
}
.menu--top .profile img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: 10px;
}
.menu--top .items{
  width: 20%;
}

.menu--top .items ul{
  display: flex;
  margin: 20px;
  justify-content: space-around;
}
.menu--top .items ul a{
  transition: all 0.2s ease;
}
.menu--top .items ul a:hover{color:#35a4dd;}

.modules #tabs{
	width: 100%;
}

.wrap--content article{
  background: white;
  width: 90%;
  box-sizing: border-box;
  margin:40px auto;
  box-sizing: border-box;
}

/*3.modules orders*/

.modules{
  display: flex;
  flex-direction: column;
  align-items: center;

}
 .title{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

}
 .title p{
  color:grey;
  font-size: 50px;
  font-weight: 300;


}

/*modules services*/
.new--obj{
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 18px;
  width: 30%;
  font-weight: bold;
  display: flex;

  transition: all 0.2s ease;
}
.new--obj:hover{
  color: #35a4dd;
}
.new--obj a{
padding-left: 8px;
}


/*tabs*/
#tabs{
  border: none;
}
#tabs .ui-widget-header{
  display: flex;
  justify-content: center;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  background: white;
}
#tabs .ui-widget-header li{
  margin-left: 20px;
  border: none;
}

#tabs .ui-widget-header li a:hover{

}
/*tabs vertical*/
.ui-tabs-vertical { width:55em; }
 .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .3em .2em; float: left; width: 12em; background: white;}
 .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 5px -1px .2em 0; }
 .ui-tabs-vertical .ui-tabs-nav li a { display:block; padding: 20px;}
 .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; background:#35a4dd;  outline:none;}
 .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}



/*DATAGRID*/
/*entries*/

.dataTables_wrapper .dataTables_length{
margin-bottom: 30px;
}
/*buscar*/
.dataTables_wrapper .dataTables_filter{
margin-bottom: 30px;
}
/*informacion sobre la cantidad*/
.dataTables_wrapper .dataTables_info{

}
/*paginacion*/
.dataTables_wrapper .dataTables_paginate{

}
table.dataTable.no-footer{
  border: 1px solid #111;
}
table.dataTable.no-footer thead {
  background:rgb(53, 164, 221);
  color: white;
}
table.dataTable tbody tr:nth-child(even){
background: #eee;
border: 1px solid #ccc

}
table.dataTable tbody th, table.dataTable tbody td{
  text-align: center;

}
/*FORM*/
#tabs-1{
  display: flex;
}
#frmNewUser{width: 50%;}
}

.customers--business, .customers--normal{
  position: absolute;
  width: 50%;

}
.form--left{
  width: 50%;
}
.form--rigth{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form-group.Cambiar--img, .form-group.product{
  width: 100%;
  display: flex;
  align-items: center;
}
#wrap-result{
  background: #eee;
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#cropp-img{
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: all .2s ease;
}
#cropp-img:hover{
  color: #35a4dd;

}
.form-group .btn{
  border: none;
  background: #35a4dd;
  padding: 15px 30px;
  cursor: pointer;
  color: white;
}
.form-group .btn:hover{
  box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}


.form-group .label{
  transition: all 0.5s;
  transform: translateY(12px);
  position: absolute;
  padding: 0 0 0 5px;

}
.form-group .input  {
  padding:8px 2px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #9e9e9e;
  position: relative;
  font-size: 16px;
  background: transparent;
}
 .input:after, .input:before {
   content: "";
   background: #9e9e9e;
   box-sizing: border-box;
   border: 1px solid #9e9e9e;
   transition: all 0.5s;
}

.color-label .input{
  border: 1px solid #35a4dd;
}
.color-label .label{
  color: #35a4dd;
}
.mover-label .label{
  transform: translateY(-15px);
  font-size: 12px;
}

.form-group .btn{
  width: 200px;
}

.customers--business{display: none;}
 .normaldes{display: none;}
.businessaparece{display: block;}

/*LOGIN*/
.container--login{
  background: url("../image/printer1.jpg");
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--login article{
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255,0.5);
  width: 40%;
  height: 60vh;
  align-items: center;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
  font-family: 'lato';
  border-radius: 8px;
}

.container--login img{
  width: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container--login article h2{
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.container--login article form{
  display: flex;
  flex-direction: column;
}

.container--login article form #name--form{
  border: none;
  outline: none;
  border-radius: 0;
  height: 20px;
  background: transparent;
  border-bottom: 1px solid black;
}

.container--login article form .btn-pass-form{
  margin-top: 20px;
}

/*vistas detalles*/
.detail{
  display: flex;
  padding: 8px 6px;
  width: 100%;
  border: 1px solid #ddd;
}
.detail .item--detail{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-right: 10px;
}
.detail .data--detail{
 text-transform: capitalize;
 display: flex;
 justify-content: flex-start;
 width: 50%;
 padding-left: 10px;
}
.mudules.orders.detail{
  display: flex;
}
.mudules.orders.detail .wrap--info{
width: 60%;
}
.mudules.orders.detail .wrap--btns{
width: 40%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

}
.mudules.orders.detail .wrap--btns li {
  padding: 10px 0px;
  transition:all 0.5s easy;
}
.mudules.orders.detail .wrap--btns li:hover{
  color: #35a4dd;
}
/*settings*/

.config--form .wrap--chmodule input[type="checkbox"],.modo--color input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

.config--form input[type="checkbox"].swich + div, .modo--color input[type="checkbox"].swich + div{
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border:1px solid grey;
  background-color: rgba(0,0,0,0.1);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  transition-duration: .4s;
  transition-property: background-color, box-shadow ;
  box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.5);

}

.config--form input[type="checkbox"].swich:checked + div, .modo--color input[type="checkbox"].swich:checked + div{
  background-position: 0 0;
  background-color:#35a4dd;
  border: 1px solid rgba(53, 164, 221,1);
  box-shadow: inset 0 0 0 10px rgba(53, 164, 221,1);
}
.config--form input[type="checkbox"].swich + div > div, .modo--color input[type="checkbox"].swich + div > div{
  float: left;
  width: 18px;
  height: 18px;
  background: white;
  transition-timing-function:cubic-bezier(.54,1.85,.5,1);
  transition-duration: .4s;
  transition-property: box-shadow, transform, background-color;
  -webkit-transition-timing-function:cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: box-shadow, transform, background-color;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;

}

.config--form input[type="checkbox"].swich:checked + div > div, .modo--color input[type="checkbox"].swich:checked + div > div{
  transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);

}

.config--form{
  display: flex;
  align-items: center;
}

.wrap--chmodule{
  display: table;
  margin-right: 80px;
}

.wrap--chmodule input + div{
  margin-top: 5px;
  margin-bottom: 10px;
}
.perms--hide, .perms--prod, .perms--pedi, .perms--cot, .perms--ruta{
  display: none;
}

/*mesajes de alerts*/
.message{
  padding: 20px;
  background: #2196F3;
  color: white;
}

/*modal newMark and newCategory*/
.newMark--modal, .new--category{
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--newMark, .container--newcategory{
  width: 40%;
  min-height: 400px;
  max-height: 400px;
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container--newcategory form{
  width: 80%;
}
.container--newMark h1, .container--newcategory h1{
  font-weight: 300;
  text-transform: capitalize;
  color: #35a4dd;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}
.container--newMark .btn, .container--newcategory .btn{
  padding: 15px 20px;
  border: none;
  background: #35a4dd;
  color: white;
}
#closeNew, #closeNewCt{
  float: left;
  padding: 10px 0 10px 10px;
  font-size: 30px;
  cursor: pointer;
}


/*recorta img*/
#frmNewMar{
  width: 80%;
}
#uploadImage{
  width: 100%;
  box-sizing: border-box;
}
.croppie-container{
  width: 100% !important;
}
 .upload-result{
  padding: 15px 10px;
  border: none;
  background: #35a4dd;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.thumb .active, .value{
  display: none;
}
/*dasboar graphi*/
.container--charts{
  width: 100%;
  display: grid;
}

#first--pie, #second--pies{
  width: 200px;
  height: 200px;
}
