@media (max-width: 991px) and (min-width: 767px){
  #iconPc, #iconPrinter{
    width: 200px;
  }
  .container.three .three--rigth{
    background-size: 530px 560px;
  }
  #services-domicilio{
    margin-top: 60px;
  }
  #services-asistencia{
    margin-top: 60px;
  }
   #services-servicio{
     margin: 170px 0 0 0;
   }
   /* quotation */
   .container.mediafour h2{padding: 10px 300px 0 30px;}
   .quotation--left{width: 60%}
   .quotation--rigth{width: 40%}
   .title--quo{font-size: 70px}
   .quotation--left .quotation--form{width: 80%}
}
@media (max-width: 768px) {
  .container .left img{min-width: 300px;
  max-width: 300px;
  margin-top: 80px;
  }
  .opcions, #menu{display: none !important; }
  #menu-mobile{display: block;}

  #wrap--menu--mobile{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    color: #9f9f9f;
    font-size: 30px;
    font-family: "Lato";
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    }
  #wrap--menu--mobile ul li{
    margin-bottom: 20px;
    text-transform: uppercase;
    }
  #close--mobile{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px
    }
   #iconPc{width: 120px;}
   #iconPrinter{width: 180px; margin-left: 100px;}
  .container.three .three--rigth{
    background-size: 400px 600px;
    align-items: center;
    flex-direction: column;
    margin-top: -36px;
  }
  #services-domicilio,#services-servicio,  #services-asistencia{margin: 0;}
  .container.four .four--contact li{font-size: 16px;}
  .container .rigth .welcome .title{font-size: 50px}
  .container.three .three--left button{margin-top: 50px;}
  .container.mediafour h2{padding: 10px 200px 10px 30px;}
  .container.mediafour img{padding-top: 50px;}
  .user_fondo_order{margin: 0}
  /* quotation */
  .title--movil{display: block;}
  .quotation--rigth{display: none}
  .quotation--left{width: 100%}
  .subtitle.quo{text-align: center;}
  .containerFormg{display: flex; justify-content: space-around;}
  #cantidad,#solicitud{width: 90%;}
  #quotationUser .form-groupuser{margin-bottom: 20px}
  .orderbtn input{padding: 8px 30px; margin-top: 10px; font-size: 14px}
    /* product */
  .products{margin-top: 0}
  .title_banner{font-size: 130px}
  .container_search{justify-content: center; width: 50%; align-items: flex-end;}
  .products .item{margin-right: 20px}
  .search_input,.search_input input{width: 80%}
  .figure--product1, .figure--product2{display: none;}
  .container--caracteristicas{padding: 0}
@media (max-width: 658px ){
  .container.two .section--one{
    justify-content: center;
    margin: 0
  }
  .two--image{display: none;}
  .container.three .three--left button{margin-top: 30px;}
  .container.mediafour h2{padding: 0 160px 10px 30px;}
  .content--product--detail{flex-direction: column;}
  .container--caracteristicas{width: 100%}
}
@media (max-width: 575px ){
  .container .left img{
    max-width: 200px;
    min-width: 200px;
  }
  .container .rigth .welcome .subtitle-contc{
    font-size: 20px;
  }
  .container.two .section--two .section-left p, .section-rigth p{
  padding: 0;
  }
  .container.three .three--rigth{
  background-size: 300px 600px;
  align-items: center;

  }
  .container.three .three--left p{
  font-size: 16px;
  padding: 30px 0 0 50px;
  }
  .container.mediafour h1, .container.four .four--contact h1{font-size: 40px;}
  .container.four .four--contact{width: 50%;}
  .container.four .btn--contact{width: 100%}
  .user_fondo_order h1{font-size: 60px}
  /* quotation */
  .containerFormg{display: block;}
  #cantidad,#solicitud{width: 100%}
  .subtitle.quo{font-size: 16px; margin-bottom: 30px}

}
@media (max-width:510px){
  .container.one{
    flex-direction: column;
    height: auto;
  }

  .container.one .left {
    width: 100%;
    height: auto;
  }
  .container.two{
    height: auto;
  }
  .container.one .rigth{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .left img{
    max-width: 300px;
    min-width: 300px;
    margin-top: 25px;
  }
  .container .rigth .opcions{
    display: none;
  }
  .container .rigth .welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 80%;
  }
  .container .rigth .welcome .title{
    font-size: 70px;
  }
  .container .rigth .welcome .subtitle{
      font-size: 18px;
  }

  .container.two .section--one p{
    padding: 0;
    font-size: 40px;
  }
  .container.two .section--two{
    flex-direction: column;
  }
  .container.two .section--two .section-left h1, .section-rigth h1{
    text-align: center;
    padding: 0 0 10px 0;
  }
  .container.two .section--two .section-left p, .section-rigth p{
    font-size: 18px;
  }
  .container.three{
    flex-direction: column;
    height: auto;
  }
  .container.three .three--left{
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
  }

  .container.three .three--left h1{
    text-align: center;
  }
  .container.three .three--left p{
    font-size: 18px;
  }
  .container.three .three--rigth{
    width: 100%;
    height: 60vh;
    background: #efefef;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  #services-domicilio,  #services-asistencia{
      width: 100px;
      height: 120px;
  }
  #services-servicio{
    width: 117px;
    height: 171px;
  }
  .container.mediafour{
    flex-direction: column;
    height: 90vh;
  }
  .container.mediafour h2{
    padding: 20px 30px 0 30px;
    text-align: center;
  }

  .container.mediafour h1{
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
  }
  .container.mediafour img{
    width: 40%;
    padding-top: 30px;
  }
  .container.four{
    flex-direction:column-reverse;
    height: auto;
  }
  .container.four .four--contact{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container.four .four--form{
    width: 100%;
    height: 70vh;
  }
  .container.four .four--contact h1{
    font-size: 50px;
  }
  .container.four .four--contact li{
    font-size: 20px;
  }
}
@media (max-width:360px) {
  .container .left span{
    margin: 20px 0 0 20px;
  }
  .container .left img{
    max-width: 250px;
    min-width: 250px;
  }
  .container .rigth .welcome .subtitle{
    text-align: center;
  }
  .container.two .section--one{
    height: 10vh;
  }
  .container.two .section--two{
    height: 90vh;
  }
  .container.two .section--two .section-left, .container.two .section--two .section-rigth{
    padding: 10px 30px 0 30px;
  }
  .container.three .three--left h1{font-size: 35px;}
  .container.mediafour h1{
    font-size: 40px;
    padding: 10px ;
  }
  .container.mediafour ul{padding: 30px 0 0 30px;}
  .container.four .four--contact {
    justify-content: flex-start;
    height: 40vh;
    text-align: center;
  }
  .container.four .four--contact h1{padding: 10px 0 0 0;}
  .container.four .four--form{height: 60vh;}
  .user_fondo_order h1{font-size: 40px}
  .user_fondo_order button{padding: 10px 10px}
  .user_fondo_order{padding: 200px 40px 0 40px}
  /* quotation */
  .quotation--left .quotation--form{width: 80%}
  .title--movil{font-size: 30px}
}
