@media (max-width: 759px ) {
  .opcions, #menu{
    display: none !important; }

  #menu-mobile{
    display: block;
  }

  #wrap--menu--mobile{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    color: #9f9f9f;
    font-size: 30px;
    font-family: "Lato";
    font-weight: lighter;
    justify-content: center;
    align-items: center;
  }

  #wrap--menu--mobile ul li{
    margin-bottom: 20px;
    text-transform: uppercase;

  }

  #close--mobile{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px
  }
  #iconPc{
    width: 120px;
  }
   #iconPrinter{
     width: 180px;
     margin-left: 100px;
   }
  .container.three .three--rigth{
    background-size: 400px 600px;
    align-items: center;
    flex-direction: column;
  }
  #services-domicilio,#services-servicio,  #services-asistencia{
    margin: 0;
  }
  .container.four .four--contact li{
    font-size: 16px;
  }
  .container .rigth .welcome .title{
  font-size: 50px
}
  }
@media (max-width: 658px ){
  .two--image{
    display: none;
  }
}

@media (max-width: 579px ){
  .container .left img{
    max-width: 200px;
    min-width: 200px;
  }
  .container .rigth .welcome .subtitle-contc{
    font-size: 20px;
  }
  .container.two .section--two .section-left p, .section-rigth p{
  padding: 0;
  }
  .container.three .three--rigth{
  background-size: 300px 600px;
  align-items: center;
  flex-direction: column;
  }
  .container.three .three--left p{
  font-size: 16px;
  padding: 30px 0 0 50px;
  }
  .container.mediafour h1, .container.four .four--contact h1{
 font-size: 40px;
  }
  .container.four .four--contact{
    width: 50%;
  }

@media (max-width:510px) {
  .container.one{
    flex-direction: column;
  }
  .container.one .left, .container.one .rigth{
    width: 100%;
    height: 50vh;
  }
  .container .left img{
    max-width: 300px;
    min-width: 300px;
    margin-top: 25px;
  }

}
