@media (max-width: 759px ) {
  .opcions, #menu{
    display: none !important; }

  #menu-mobile{
    display: block;
  }

  #wrap--menu--mobile{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    color: #9f9f9f;
    font-size: 30px;
    font-family: "Lato";
    font-weight: lighter;
    justify-content: center;
    align-items: center;
  }

  #wrap--menu--mobile ul li{
    margin-bottom: 20px;
    text-transform: uppercase;

  }

  #close--mobile{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px
  }

}
