RewriteEngine on

#USURAIOS
RewriteRule ^registrate$ index.php?controller=customers&a=ViewNewUser
RewriteRule ^activar-cuenta-(\w+)$ index.php?controller=customers&a=viewActivateAccount&token=$1
RewriteRule ^activarCuenta-(\w+)$ index.php?controller=customers&a=activateAccount&token=$1
RewriteRule ^eliminar-usuario$ index.php?controller=customers&a=delete
RewriteRule ^inactivar-usuario$ index.php?controller=customers&a=offUser

RewriteRule ^cambiar-estilo$ index.php?controller=customers&a=chageStyle

#COTIZACION
RewriteRule ^cotizacion$ index.php?controller=quotation
RewriteRule ^realizar-cotizacion-usuario$ index.php?controller=quotation&a=newQuotationUser
RewriteRule ^guardar-cotizacion-session$ index.php?controller=quotation&a=saveSession
RewriteRule ^realizar-cotizacion$ index.php?controller=quotation&a=newQuotationCustomer
RewriteRule ^ver-cotizacion-(\w+)$ index.php?controller=quotation&a=viewQuotation&data=$1
RewriteRule ^reponder-cotizacion$ index.php?controller=quotation&a=response

#EMPRESA
RewriteRule ^guardar-cliente-empresarial$ index.php?controller=business&a=newBusiness

#LOGIN
RewriteRule ^iniciar-sesion$ index.php?controller=login&a=viewSingIn
RewriteRule ^finalizar$ index.php?controller=login&a=viewSingOut
RewriteRule ^validar-inicio-sesion$ index.php?controller=login&a=validateUser
RewriteRule ^validar-ingreso$ index.php?controller=login&a=validateUserpass

#PEDIDOS
RewriteRule ^pedidos$ index.php?controller=orders
RewriteRule ^realizar-pedido$ index.php?controller=orders&a=newRegister
RewriteRule ^detalles-pedido-(\w+)$ index.php?controller=orders&a=viewDetail&data=$1
RewriteRule ^asignar-pedido$ index.php?controller=orders&a=assign
RewriteRule ^ver-pedido-(\w+)$ index.php?controller=orders&a=viewOrder&data=$1
RewriteRule ^mi-pedido-(\w+)$ index.php?controller=orders&a=viewOrderBy&data=$1
RewriteRule ^cambiar_estado$ index.php?controller=orders&a=changeStatus
RewriteRule ^vista-previa$ index.php?controller=orders&a=preview

#CLIENTES Registrados
RewriteRule ^miperfil$ index.php?controller=customers&a=profile
RewriteRule ^historial$ index.php?controller=record

#CLIENTES
RewriteRule ^iniciar$ index.php?controller=views&a=newUser
RewriteRule ^dashboard$ index.php?controller=admin
RewriteRule ^perfil$ index.php?controller=admin&a=profile
RewriteRule ^perfil-empresarial$ index.php?controller=business&a=profile
RewriteRule ^configuraciones$ index.php?controller=admin&a=settings
RewriteRule ^estadisticas$ index.php?controller=admin&a=statistics
RewriteRule ^empresas$ index.php?controller=business
RewriteRule ^clientes$ index.php?controller=customers
RewriteRule ^guardar-cliente$ index.php?controller=customers&a=newRegister
RewriteRule ^ver-cliente-(\w+)$ index.php?controller=customers&a=viewDetail&data=$1
RewriteRule ^ver-cliente-empresarial-(\w+)$ index.php?controller=customers&a=viewDetailEmp&data=$1
RewriteRule ^eliminar-cliente-empresarial$ index.php?controller=business&a=delete
RewriteRule ^datos-empresariales-(\w+)$ index.php?controller=customers&a=viewEmpData&data=$1
RewriteRule ^modificar-cliente-(\w+)$ index.php?controller=customers&a=viewUpdate&data=$1
RewriteRule ^modificar-cliente-empresarial-(\w+)$ index.php?controller=business&a=viewUpdate&data=$1
RewriteRule ^guardar-modificar-cliente-empresarial$ index.php?controller=business&a=update
RewriteRule ^guardar-modificacion-cliente$ index.php?controller=customers&a=update
RewriteRule ^eliminar-cliente-(\w+)$ index.php?controller=customers&a=delete&data=$1

#SERVICIOS
RewriteRule ^nuevo-servicio$ index.php?controller=services
RewriteRule ^guardar-servicio$ index.php?controller=services&a=newRegister
RewriteRule ^eliminar-servicio$ index.php?controller=services&a=delete
RewriteRule ^modificar-servicio-(\w+)$ index.php?controller=services&a=viewUpdate&data=$1
RewriteRule ^guardar-modificacion-servicio$ index.php?controller=services&a=update

 #MARCAS
RewriteRule ^nueva-marca$ index.php?controller=trademark
RewriteRule ^guardar-marca$ index.php?controller=trademark&a=newRegister
RewriteRule ^eliminar-marca$ index.php?controller=trademark&a=delete
RewriteRule ^modificar-marca-(\w+)$ index.php?controller=trademark&a=viewUpdate&data=$1
RewriteRule ^guardar-modificacion-marca$ index.php?controller=trademark&a=update
RewriteRule ^cropp-(\w+)$ index.php?controller=cropp&a=image&folder=$1

 #CATEGORIAS
 RewriteRule ^nueva-categoria$ index.php?controller=products&a=newCategory
RewriteRule ^nueva-categoria$ index.php?controller=category
RewriteRule ^guardar-categoria$ index.php?controller=category&a=newRegister
RewriteRule ^eliminar-categoria$ index.php?controller=category&a=delete
RewriteRule ^modificar-categoria-(\w+)$ index.php?controller=category&a=viewUpdate&data=$1
RewriteRule ^guardar-modificacion-categoria$ index.php?controller=category&a=update


 #PRODUCTOS
 RewriteRule ^productos$ index.php?controller=products
RewriteRule ^guardar-producto$ index.php?controller=products&a=newRegister
RewriteRule ^eliminar-producto$ index.php?controller=products&a=delete
RewriteRule ^modificar-producto-(\w+)$ index.php?controller=products&a=viewUpdate&data=$1
RewriteRule ^guardar-modificacion-producto$ index.php?controller=products&a=update



#STOCK
RewriteRule ^crear-inventario$ index.php?controller=stock&a=viewNewRegister
RewriteRule ^guardar-inventario$ index.php?controller=stock&a=newRegister


#VALIDACIONES AJAX
RewriteRule ^validar_contraseña$ index.php?controller=doizer&a=validateSecurityPassword
RewriteRule ^validar_documento$ index.php?controller=customers&a=readByNumDoc
RewriteRule ^validar_correo$ index.php?controller=customers&a=readByEmail
RewriteRule ^validar_nit$ index.php?controller=business&a=readByNit

#LAND
RewriteRule ^maxirecargas$ index.php?controller=views

#RUTAS
RewriteRule ^rutas$ index.php?controller=routes
RewriteRule ^ver-ruta-dia-(\w+)$ index.php?controller=routes&a=routeToday&data=$1
RewriteRule ^ver-toda-ruta-(\w+)$ index.php?controller=routes&a=routeAll&data=$1

#ROLES
RewriteRule ^nuevo-rol$ index.php?controller=role&a=newRegister

#CONTACTO
RewriteRule ^enviar-correo$ index.php?controller=contact&a=landing
RewriteRule ^datos-contacto$ index.php?controller=contact&a=knowData

#COFIGURACIONES
RewriteRule ^nuevo_dato_contacto$ index.php?controller=setting&a=contact
