RewriteEngine on

#USURAIOS
RewriteRule ^registrate$ index.php?controller=customers&a=ViewNewUser
RewriteRule ^registrarse$ index.php?controller=views&a=newUserMobile
RewriteRule ^activar-cuenta-(\w+)$ index.php?controller=customers&a=viewActivateAccount&token=$1
RewriteRule ^activarCuenta-(\w+)$ index.php?controller=customers&a=activateAccount&token=$1
RewriteRule ^eliminar-usuario$ index.php?controller=customers&a=delete
RewriteRule ^inactivar-usuario$ index.php?controller=customers&a=offUser
RewriteRule ^cambiar-contrasena$ index.php?controller=customers&a=updatePass
RewriteRule ^recuperar-contrasena$ index.php?controller=views&a=recover
RewriteRule ^enviar-token$ index.php?controller=customers&a=recoverPass
RewriteRule ^comparar-token$ index.php?controller=customers&a=compareToken

RewriteRule ^cambiar-estilo$ index.php?controller=customers&a=chageStyle

#COTIZACION
RewriteRule ^cotizacion$ index.php?controller=quotation
RewriteRule ^cotizacion-(\w+)$ index.php?controller=quotation&data=$1
RewriteRule ^realizar-cotizacion-usuario$ index.php?controller=quotation&a=newQuotationUser
RewriteRule ^guardar-cotizacion-session$ index.php?controller=quotation&a=saveSession
RewriteRule ^realizar-cotizacion$ index.php?controller=quotation&a=newQuotationCustomer
RewriteRule ^ver-cotizacion-(\w+)$ index.php?controller=quotation&a=viewQuotation&data=$1
RewriteRule ^mi-cotizacion-(\w+)$ index.php?controller=quotation&a=viewQuotationBy&data=$1
RewriteRule ^reponder-cotizacion$ index.php?controller=quotation&a=response
RewriteRule ^eliminar-cotizacion$ index.php?controller=quotation&a=delete

#EMPRESA
RewriteRule ^guardar-cliente-empresarial$ index.php?controller=business&a=newBusiness

#LOGIN
RewriteRule ^iniciar-sesion$ index.php?controller=login&a=viewSingIn
RewriteRule ^finalizar$ index.php?controller=login&a=viewSingOut
RewriteRule ^validar-inicio-sesion$ index.php?controller=login&a=validateUser
RewriteRule ^validar-ingreso$ index.php?controller=login&a=validateUserpass

#PEDIDOS
RewriteRule ^pedidos$ index.php?controller=orders
RewriteRule ^pedidos-(\w+)$ index.php?controller=orders&data=$1
RewriteRule ^realizar-pedido$ index.php?controller=orders&a=newRegister
RewriteRule ^detalles-pedido-(\w+)$ index.php?controller=orders&a=viewDetail&data=$1
RewriteRule ^asignar-pedido$ index.php?controller=orders&a=assign
RewriteRule ^ver-pedido-(\w+)$ index.php?controller=orders&a=viewOrder&data=$1
RewriteRule ^mi-pedido-(\w+)$ index.php?controller=orders&a=viewOrderBy&data=$1
RewriteRule ^cambiar_estado$ index.php?controller=orders&a=changeStatus
RewriteRule ^vista-previa$ index.php?controller=orders&a=preview

#CLIENTES Registrados
RewriteRule ^miperfil$ index.php?controller=customers&a=profile
RewriteRule ^historial$ index.php?controller=record

#CLIENTES
RewriteRule ^iniciar$ index.php?controller=views&a=newUser
RewriteRule ^dashboard$ index.php?controller=admin
RewriteRule ^perfil$ index.php?controller=admin&a=profile
RewriteRule ^modificar-mi-perfil$ index.php?controller=customers&a=updateAllProfile
RewriteRule ^perfil-empresarial$ index.php?controller=business&a=profile
RewriteRule ^configuraciones$ index.php?controller=admin&a=settings
RewriteRule ^estadisticas$ index.php?controller=admin&a=statistics
RewriteRule ^empresas$ index.php?controller=business
RewriteRule ^clientes$ index.php?controller=customers
RewriteRule ^guardar-cliente$ index.php?controller=customers&a=newRegister
RewriteRule ^ver-cliente-(\w+)$ index.php?controller=customers&a=viewDetail&data=$1
RewriteRule ^ver-cliente-empresarial-(\w+)$ index.php?controller=customers&a=viewDetailEmp&data=$1
RewriteRule ^eliminar-cliente-empresarial$ index.php?controller=business&a=delete
RewriteRule ^datos-empresariales-(\w+)$ index.php?controller=customers&a=viewEmpData&data=$1
RewriteRule ^modificar-cliente-(\w+)$ index.php?controller=customers&a=viewUpdate&data=$1
RewriteRule ^modificar-cliente-empresarial-(\w+)$ index.php?controller=business&a=viewUpdate&data=$1
RewriteRule ^guardar-modificar-cliente-empresarial$ index.php?controller=business&a=update
RewriteRule ^guardar-modificacion-cliente$ index.php?controller=customers&a=update
RewriteRule ^eliminar-cliente-(\w+)$ index.php?controller=customers&a=delete&data=$1

#SERVICIOS
RewriteRule ^nuevo-servicio$ index.php?controller=services
RewriteRule ^guardar-servicio$ index.php?controller=services&a=newRegister
RewriteRule ^eliminar-servicio$ index.php?controller=services&a=delete
RewriteRule ^modificar-servicio-(\w+)$ index.php?controller=services&a=viewUpdate&data=$1
RewriteRule ^guardar-modificacion-servicio$ index.php?controller=services&a=update

 #MARCAS
RewriteRule ^nueva-marca$ index.php?controller=trademark
RewriteRule ^guardar-marca$ index.php?controller=trademark&a=newRegister
RewriteRule ^eliminar-marca$ index.php?controller=trademark&a=delete
RewriteRule ^modificar-marca-(\w+)$ index.php?controller=trademark&a=viewUpdate&data=$1
RewriteRule ^guardar-modificacion-marca$ index.php?controller=trademark&a=update
RewriteRule ^cropp-(\w+)$ index.php?controller=cropp&a=image&folder=$1

 #CATEGORIAS
# RewriteRule ^nueva-categoria$ index.php?controller=products&a=newCategory
RewriteRule ^nueva-categoria$ index.php?controller=category
RewriteRule ^guardar-categoria$ index.php?controller=category&a=newRegister
RewriteRule ^eliminar-categoria$ index.php?controller=category&a=delete
RewriteRule ^modificar-categoria-(\w+)$ index.php?controller=category&a=viewUpdate&data=$1
RewriteRule ^guardar-modificacion-categoria$ index.php?controller=category&a=update


 #PRODUCTOS
 RewriteRule ^productos$ index.php?controller=products
RewriteRule ^guardar-producto$ index.php?controller=products&a=newRegister
RewriteRule ^eliminar-producto$ index.php?controller=products&a=delete
RewriteRule ^modificar-producto-(\w+)$ index.php?controller=products&a=viewUpdate&data=$1
RewriteRule ^guardar-modificacion-producto$ index.php?controller=products&a=update
RewriteRule ^contar-registros$ index.php?controller=products&a=countBycategory
RewriteRule ^consular-por-categoria-paginacion$ index.php?controller=products&a=readBycategoryPagination
RewriteRule ^filter-products$ index.php?controller=products&a=filter
RewriteRule ^filterProductsCount$ index.php?controller=products&a=filterCount
RewriteRule ^todas-referencias$ index.php?controller=products&a=readRefer
RewriteRule ^opciones-busqueda-referencia$ index.php?controller=products&a=readOptionSearch
RewriteRule ^detalles-producto-(\w+)$ index.php?controller=products&a=viewDetail&data=$1

#STOCK
RewriteRule ^crear-inventario$ index.php?controller=stock&a=viewNewRegister
RewriteRule ^guardar-inventario$ index.php?controller=stock&a=newRegister


#VALIDACIONES AJAX
RewriteRule ^validar_contraseña$ index.php?controller=doizer&a=validateSecurityPassword
RewriteRule ^validar_documento$ index.php?controller=customers&a=readByNumDoc
RewriteRule ^validar_correo$ index.php?controller=customers&a=readByEmail
RewriteRule ^validar_nit$ index.php?controller=business&a=readByNit

#LAND
RewriteRule ^maxirecargas$ index.php?controller=views

#RUTAS
RewriteRule ^rutas$ index.php?controller=routes
RewriteRule ^ver-ruta-dia-(\w+)$ index.php?controller=routes&a=routeToday&data=$1
RewriteRule ^ver-toda-ruta-(\w+)$ index.php?controller=routes&a=routeAll&data=$1

#ROLES
RewriteRule ^nuevo-rol$ index.php?controller=role&a=newRegister
RewriteRule ^modificar-rol$ index.php?controller=role&a=update
RewriteRule ^gestion-rol$ index.php?controller=role&a=allRoles
RewriteRule ^ver-rol-(\w+)$ index.php?controller=role&a=viewUpdate&data=$1
RewriteRule ^eliminar-rol$ index.php?controller=role&a=delete

#CONTACTO
RewriteRule ^enviar-correo$ index.php?controller=contact&a=landing
RewriteRule ^datos-contacto$ index.php?controller=contact&a=knowData

#COFIGURACIONES
RewriteRule ^nuevo_dato_contacto$ index.php?controller=setting&a=contact
RewriteRule ^actualizar-datos-empresa$ index.php?controller=admin&a=UpdateBusi

#ASISTENCIA VIRTUAL
#ADMIN
RewriteRule ^asistencia_virtual$ index.php?controller=msn&a=admin
RewriteRule ^saber-chats-actuales$ index.php?controller=msn&a=AllchatsNow
RewriteRule ^enviar-mensaje-admin$ index.php?controller=msn&a=newMessageAdmin
RewriteRule ^eliminar-chat-admin$ index.php?controller=msn&a=deleteChatAdmin
RewriteRule ^nuevo-mensaje-predefinido$ index.php?controller=msn&a=newMessageDefault
RewriteRule ^consulta-mensaje-predefinido$ index.php?controller=msn&a=readBy
RewriteRule ^eliminar-mensaje-predefinido$ index.php?controller=msn&a=deleteMessage
#enviar mensaje
RewriteRule ^enviar-mensaje$ index.php?controller=msn&a=newMessage
RewriteRule ^eliminar-chat$ index.php?controller=msn&a=deleteChat
RewriteRule ^llenar-chat$ index.php?controller=msn&a=readByToken

#ERRORES
ErrorDocument 404 /github/maxirecargas/views/modules/config/errors/error404.php
ErrorDocument 404 /maxirecargas/views/modules/config/errors/error404.php

#SPEED
# Especificar caché de navegador
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/css "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType text/html "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType application/xhtml-xml "access plus 600 seconds"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 month"
</IfModule>
<ifmodule mod_headers.c>
<filesmatch "\.(ico|jpe?g|png|gif|swf)$">
Header set Cache-Control "max-age=2592000, public"
</filesmatch>
<filesmatch "\.(css)$">
Header set Cache-Control "max-age=604800, public"
</filesmatch>
<filesmatch "\.(js)$">
Header set Cache-Control "max-age=216000, private"
</filesmatch>
<filesmatch "\.(x?html?|php)$">
Header set Cache-Control "max-age=600, private, must-revalidate"
</filesmatch>
</ifmodule>

#JS
<FilesMatch "\.(js|css|ico|pdf|jpg|jpeg|png|gif|php)$">
SetOutputFilter DEFLATE
</FilesMatch>
